<h2>Search for a Keyword</h2>
<form>
	<div class="input-append">
    <input type="text" name="search" placeholder="i.e. 'Bird' or 'School' or 'China'">
   	<input type="submit" name="submit" value="Search" class="btn btn-primary" />
	</div>
</form>